<h1><%= @house.name %></h1> <br />
<%= image_tag "#{@house.sigil}" %>
  <h3>Members of <%= @house.name %></h3>
  <% @house.characters.each do |character| %>
    <li><%= character.name %> <%= link_to "[Edit]", edit_house_character_path(@house, character) %> <%= link_to "[Delete]", house_character_path(@house, character), method: :delete %>
    <% end %></li>
